
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    
}   

 /* Green rectangle */

.Green-rectangle {
    background-color: #008751;
    width: 900px;
    height: 600px;
    position: relative;
    margin: 40px auto;

}
/* White rectangle */

.Green-rectangle > div {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 300px;
    position: absolute;
    left: 300px;
}
 /* coat of arms */
.Green-rectangle > div >img {
    width: 250px;
    position: relative;
    top: 200px;
    left: 25px;
}
